<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${title}"></title>
</head>
<body>
<h1>Weather Informer</h1>
<form th:action="@{/result}" method="post">
    <p>Choose a city: <select name="city">
        <option value="Moscow">Moscow</option>
        <option value="Kazan">Kazan</option>
        <option value="Novosibirsk">Novosibirsk</option>
        <option value="Chelyabinsk">Chelyabinsk</option>
    </select></p>
    <p>
        <button type="submit">Get Weather</button>
    </p>
</form>
</body>
</html>