<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Temperature</title>
</head>
<body>
<h1>Weather Informer</h1>
<p>Temperature in <span th:text="${info.city}"></span> is <span th:text="${info.temperature - 273.15}"></span> С</p>
</body>
</html>